// layout
$gutter = 50px
$container-max-width = 1440px

// colors
$white = #ffffff
$black = #000000
$green = #00ff00

// Animation function
$cubic-bezier = cubic-bezier(0.165, 0.84, 0.44, 1)

// fonts
@font-face
  font-family 'Apoc Light'
  src url('./../assets/fonts/Apoc-Light.otf')

@font-face
  font-family 'SangBleuKing Medium'
  src url('./../assets/fonts/SangBleuKing-Medium.otf')

@font-face
  font-family 'Avenir'
  src url('./../assets/fonts/Avenir.ttc')

$display = 'Apoc Light', serif
$serif = 'SangBleuKing Medium', serif
$sans = 'Avenir', 'Helvetica', 'Arial', sans-serif
